.container {
  height: 100px;
  border: 1px solid var(--yellow);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 537.5px) {
  .container {
    width: 90%;
    margin: 10px auto;
    flex-grow: unset;
    flex-shrink: unset;
  }
}

